<%- model_class = TblMsgNetComment -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.titleize %></h3>
</div>

<dl >
  <dt><strong><%= model_class.human_attribute_name(:serialNumber) %>:</strong></dt>
  <dd><%= @tbl_msg_net_comment.serialNumber %></dd>
  <dt><strong><%= model_class.human_attribute_name(:workNum) %>:</strong></dt>
  <dd><%= @tbl_msg_net_comment.workNum %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dateTime) %>:</strong></dt>
  <dd><%= @tbl_msg_net_comment.dateTime %></dd>
  <dt><strong><%= model_class.human_attribute_name(:handlingUser) %>:</strong></dt>
  <dd><%= @tbl_msg_net_comment.handlingUser %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hdUserPhone) %>:</strong></dt>
  <dd><%= @tbl_msg_net_comment.hdUserPhone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sName) %>:</strong></dt>
  <dd><%= @tbl_msg_net_comment.sName %></dd>
  <dt><strong><%= model_class.human_attribute_name(:area) %>:</strong></dt>
  <dd><%= @tbl_msg_net_comment.area %></dd>
  <dt><strong><%= model_class.human_attribute_name(:responses) %>:</strong></dt>
  <dd><%= @tbl_msg_net_comment.responses %></dd>
  <dt><strong><%= model_class.human_attribute_name(:measure) %>:</strong></dt>
  <dd><%= @tbl_msg_net_comment.measure %></dd>
  <dt><strong><%= model_class.human_attribute_name(:isOver) %>:</strong></dt>
  <dd><%= @tbl_msg_net_comment.isOver %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              tbl_msg_net_comments_path(:search=>params[:search]), :class => 'btn'  %>
<!--
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_tbl_msg_net_comment_path(@tbl_msg_net_comment), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              tbl_msg_net_comment_path(@tbl_msg_net_comment),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
-->
</div>
